<section id="inicio">
  <h1>Bienvenido a HexaGen</h1>
  <p>Generá colores aleatorios fácilmente</p>
  <a href="#generador">
    <button>Empezar</button>
  </a>
</section>

<section id="generador">
  <h1>Generador de Colores</h1>
  <button id="btnColor">Generar Color</button>
  <p id="colorCode">#FFFFFF</p>
</section>

<script>
  function generarColor() {
  const letras = "0123456789ABCDEF";
  let color = "#";

  for (let i = 0; i < 6; i++) {
    color += letras[Math.floor(Math.random() * 16)];
  }

  return color;
}
  const boton = document.getElementById("btnColor");
const texto = document.getElementById("colorCode");
const generador = document.getElementById("generador");

boton.addEventListener("click", () => {
  const nuevoColor = generarColor();

  generador.style.background = `linear-gradient(to top, ${nuevoColor}, white)`;
  texto.textContent = nuevoColor;
});
</script>

<style>
button {
  padding: 6px 50px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s;
}
button:hover {
  transform: scale(1.2);
}

#inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to bottom, white, transparent);
}

#generador {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
</style>